/* Visit http://www.menucool.com/responsive-slider for instructions */

#ninja-slider {
    width:100%;
    background:rgba(0,0,0,0.8);
    padding-top:30px;
    padding-bottom:10px;

    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider.fullscreen {
    background:black;
}

#ninja-slider.fullscreen #ninja-slider-prev {
    left: -50px; 
}
#ninja-slider.fullscreen #ninja-slider-next {
    right: -50px;
}


#ninja-slider .fs-icon {
    top:0px;
    right:0px;
    width:45px;
    height:45px;
    background: rgba(0,0,0,0.1) url(fullscreen.png) no-repeat 0 0;
    z-index:2;
    opacity:0;
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}

#ninja-slider:hover .fs-icon {
    opacity: 1;
}

#ninja-slider.fullscreen .fs-icon {
    background-position: center -45px;
    opacity:1;
}

#ninja-slider .slider-inner {
    max-width:700px;
    margin:0 auto;/*center-aligned*/
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}

#ninja-slider.fullscreen .slider-inner {
    max-width:900px;
    max-height:80%;
}

#ninja-slider ul {
    /*overflow:hidden;*/
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;
}

#ninja-slider li {
    background-color:#111;
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider li.ns-show {
    opacity:1;
}



/* --------- slider image ------- */  
#ninja-slider .ns-img {
    background-color:rgba(0,0,0,0.3);
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    border-radius:3px;

    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */ 
#ninja-slider-pause-play { display:none;}    

#ninja-slider-prev, #ninja-slider-next
{
    position: absolute;
    display:inline-block;
    width:42px;
    height:56px;
    line-height:56px;
    top: 50%;
    margin-top:-28px;
    background-color:rgba(0,0,0,0.4);
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:2px;
    z-index:10;
    opacity:0.3; 
    font-family:sans-serif;   
    font-size:13px;
    cursor:pointer;
    -webkit-transition:all 0.7s;
    transition:all 0.7s;
}

.slider-inner:hover #ninja-slider-prev, .slider-inner:hover #ninja-slider-next {
    opacity:1;
}


#ninja-slider-prev {
    left: 0; 
}
#ninja-slider-next {
    right: 0;
}

/* arrows */
#ninja-slider-prev::before, #ninja-slider-next::before {
    position: absolute;
    top: 17px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 2px solid white;
    border-top: 2px solid white;
}

#ninja-slider-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    backface-visibility:hidden;
    right:4px;
}

#ninja-slider-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    backface-visibility:hidden;
    left:4px;
}


/*pagination num within the arrow buttons*/
#ninja-slider-prev div, #ninja-slider-next div {display:none;}


/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
#ninja-slider-pager { display:none;}


#ninja-slider-pager, #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*Responsive settings*/
@media only screen and (max-width:800px){

    #ninja-slider-prev, #ninja-slider-next {
        display:none;
    }
    #ninja-slider .fs-icon {
        display:none;
    }
}


/* Visit http://www.menucool.com/responsive-slider for instructions */

#ninja-slider1 {
    width:100%;
    background:rgba(0,0,0,0.8);
    padding-top:30px;
    padding-bottom:10px;

    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider1.fullscreen {
    background:black;
}

#ninja-slider1.fullscreen #ninja-slider1-prev {
    left: -50px; 
}
#ninja-slider1.fullscreen #ninja-slider1-next {
    right: -50px;
}


#ninja-slider1 .fs-icon {
    top:0px;
    right:0px;
    width:45px;
    height:45px;
    background: rgba(0,0,0,0.1) url(fullscreen.png) no-repeat 0 0;
    z-index:2;
    opacity:0;
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}

#ninja-slider1:hover .fs-icon {
    opacity: 1;
}

#ninja-slider1.fullscreen .fs-icon {
    background-position: center -45px;
    opacity:1;
}

#ninja-slider1 .slider-inner {
    max-width:700px;
    margin:0 auto;/*center-aligned*/
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}

#ninja-slider1.fullscreen .slider-inner {
    max-width:900px;
    max-height:80%;
}

#ninja-slider1 ul {
    /*overflow:hidden;*/
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;
}

#ninja-slider1 li {
    background-color:#111;
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider1 li.ns-show {
    opacity:1;
}



/* --------- slider image ------- */  
#ninja-slider1 .ns-img {
    background-color:rgba(0,0,0,0.3);
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    border-radius:3px;

    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */ 
#ninja-slider1-pause-play { display:none;}    

#ninja-slider1-prev, #ninja-slider1-next
{
    position: absolute;
    display:inline-block;
    width:42px;
    height:56px;
    line-height:56px;
    top: 50%;
    margin-top:-28px;
    background-color:rgba(0,0,0,0.4);
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:2px;
    z-index:10;
    opacity:0.3; 
    font-family:sans-serif;   
    font-size:13px;
    cursor:pointer;
    -webkit-transition:all 0.7s;
    transition:all 0.7s;
}

.slider-inner1:hover #ninja-slider1-prev, .slider-inner:hover #ninja-slider1-next {
    opacity:1;
}


#ninja-slider1-prev {
    left: 0; 
}
#ninja-slider1-next {
    right: 0;
}

/* arrows */
#ninja-slider1-prev::before, #ninja-slider1-next::before {
    position: absolute;
    top: 17px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 2px solid white;
    border-top: 2px solid white;
}

#ninja-slider1-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    backface-visibility:hidden;
    right:4px;
}

#ninja-slider1-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    backface-visibility:hidden;
    left:4px;
}


/*pagination num within the arrow buttons*/
#ninja-slider1-prev div, #ninja-slider1-next div {display:none;}


/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
#ninja-slider1-pager { display:none;}


#ninja-slider1-pager, #ninja-slider1-prev, #ninja-slider1-next, #ninja-slider1-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*Responsive settings*/
@media only screen and (max-width:800px){

    #ninja-slider1-prev, #ninja-slider1-next {
        display:none;
    }
    #ninja-slider1 .fs-icon {
        display:none;
    }
}



#ninja-slider2 {
    width:100%;
    background:rgba(0,0,0,0.8);
    padding-top:30px;
    padding-bottom:10px;

    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider2.fullscreen {
    background:black;
}

#ninja-slider2.fullscreen #ninja-slider2-prev {
    left: -50px; 
}
#ninja-slider2.fullscreen #ninja-slider2-next {
    right: -50px;
}


#ninja-slider2 .fs-icon {
    top:0px;
    right:0px;
    width:45px;
    height:45px;
    background: rgba(0,0,0,0.1) url(fullscreen.png) no-repeat 0 0;
    z-index:2;
    opacity:0;
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}

#ninja-slider2:hover .fs-icon {
    opacity: 1;
}

#ninja-slider2.fullscreen .fs-icon {
    background-position: center -45px;
    opacity:1;
}

#ninja-slider2 .slider-inner {
    max-width:700px;
    margin:0 auto;/*center-aligned*/
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}

#ninja-slider2.fullscreen .slider-inner {
    max-width:900px;
    max-height:80%;
}

#ninja-slider2 ul {
    /*overflow:hidden;*/
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;
}

#ninja-slider2 li {
    background-color:#111;
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider2 li.ns-show {
    opacity:1;
}



/* --------- slider image ------- */  
#ninja-slider2 .ns-img {
    background-color:rgba(0,0,0,0.3);
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    border-radius:3px;

    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */ 
#ninja-slider2-pause-play { display:none;}    

#ninja-slider2-prev, #ninja-slider2-next
{
    position: absolute;
    display:inline-block;
    width:42px;
    height:56px;
    line-height:56px;
    top: 50%;
    margin-top:-28px;
    background-color:rgba(0,0,0,0.4);
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:2px;
    z-index:10;
    opacity:0.3; 
    font-family:sans-serif;   
    font-size:13px;
    cursor:pointer;
    -webkit-transition:all 0.7s;
    transition:all 0.7s;
}

.slider-inner2:hover #ninja-slider2-prev, .slider-inner:hover #ninja-slider2-next {
    opacity:1;
}


#ninja-slider2-prev {
    left: 0; 
}
#ninja-slider2-next {
    right: 0;
}

/* arrows */
#ninja-slider2-prev::before, #ninja-slider2-next::before {
    position: absolute;
    top: 17px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 2px solid white;
    border-top: 2px solid white;
}

#ninja-slider2-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    backface-visibility:hidden;
    right:4px;
}

#ninja-slider2-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    backface-visibility:hidden;
    left:4px;
}


/*pagination num within the arrow buttons*/
#ninja-slider2-prev div, #ninja-slider2-next div {display:none;}


/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
#ninja-slider2-pager { display:none;}


#ninja-slider2-pager, #ninja-slider2-prev, #ninja-slider2-next, #ninja-slider2-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*Responsive settings*/
@media only screen and (max-width:800px){

    #ninja-slider2-prev, #ninja-slider2-next {
        display:none;
    }
    #ninja-slider2 .fs-icon {
        display:none;
    }
}

#ninja-slider3 {
    width:100%;
    background:rgba(0,0,0,0.8);
    padding-top:30px;
    padding-bottom:10px;

    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider3.fullscreen {
    background:black;
}

#ninja-slider3.fullscreen #ninja-slider3-prev {
    left: -50px; 
}
#ninja-slider3.fullscreen #ninja-slider3-next {
    right: -50px;
}


#ninja-slider3 .fs-icon {
    top:0px;
    right:0px;
    width:45px;
    height:45px;
    background: rgba(0,0,0,0.1) url(fullscreen.png) no-repeat 0 0;
    z-index:2;
    opacity:0;
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}

#ninja-slider3:hover .fs-icon {
    opacity: 1;
}

#ninja-slider3.fullscreen .fs-icon {
    background-position: center -45px;
    opacity:1;
}

#ninja-slider3 .slider-inner {
    max-width:700px;
    margin:0 auto;/*center-aligned*/
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}

#ninja-slider3.fullscreen .slider-inner {
    max-width:900px;
    max-height:80%;
}

#ninja-slider3 ul {
    /*overflow:hidden;*/
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;
}

#ninja-slider3 li {
    background-color:#111;
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider3 li.ns-show {
    opacity:1;
}



/* --------- slider image ------- */  
#ninja-slider3 .ns-img {
    background-color:rgba(0,0,0,0.3);
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    border-radius:3px;

    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */ 
#ninja-slider3-pause-play { display:none;}    

#ninja-slider3-prev, #ninja-slider3-next
{
    position: absolute;
    display:inline-block;
    width:42px;
    height:56px;
    line-height:56px;
    top: 50%;
    margin-top:-28px;
    background-color:rgba(0,0,0,0.4);
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:2px;
    z-index:10;
    opacity:0.3; 
    font-family:sans-serif;   
    font-size:13px;
    cursor:pointer;
    -webkit-transition:all 0.7s;
    transition:all 0.7s;
}

.slider-inner2:hover #ninja-slider3-prev, .slider-inner:hover #ninja-slider3-next {
    opacity:1;
}


#ninja-slider3-prev {
    left: 0; 
}
#ninja-slider3-next {
    right: 0;
}

/* arrows */
#ninja-slider3-prev::before, #ninja-slider3-next::before {
    position: absolute;
    top: 17px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 2px solid white;
    border-top: 2px solid white;
}

#ninja-slider3-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    backface-visibility:hidden;
    right:4px;
}

#ninja-slider3-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    backface-visibility:hidden;
    left:4px;
}


/*pagination num within the arrow buttons*/
#ninja-slider3-prev div, #ninja-slider3-next div {display:none;}


/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
#ninja-slider3-pager { display:none;}


#ninja-slider3-pager, #ninja-slider3-prev, #ninja-slider3-next, #ninja-slider3-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*Responsive settings*/
@media only screen and (max-width:800px){

    #ninja-slider3-prev, #ninja-slider3-next {
        display:none;
    }
    #ninja-slider3 .fs-icon {
        display:none;
    }
}

#ninja-slider4 {
    width:100%;
    background:rgba(0,0,0,0.8);
    padding-top:30px;
    padding-bottom:10px;

    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider4.fullscreen {
    background:black;
}

#ninja-slider4.fullscreen #ninja-slider4-prev {
    left: -50px; 
}
#ninja-slider4.fullscreen #ninja-slider4-next {
    right: -50px;
}


#ninja-slider4 .fs-icon {
    top:0px;
    right:0px;
    width:45px;
    height:45px;
    background: rgba(0,0,0,0.1) url(fullscreen.png) no-repeat 0 0;
    z-index:2;
    opacity:0;
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}

#ninja-slider4:hover .fs-icon {
    opacity: 1;
}

#ninja-slider4.fullscreen .fs-icon {
    background-position: center -45px;
    opacity:1;
}

#ninja-slider4 .slider-inner {
    max-width:700px;
    margin:0 auto;/*center-aligned*/
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}

#ninja-slider4.fullscreen .slider-inner {
    max-width:900px;
    max-height:80%;
}

#ninja-slider4 ul {
    /*overflow:hidden;*/
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;
}

#ninja-slider4 li {
    background-color:#111;
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider4 li.ns-show {
    opacity:1;
}



/* --------- slider image ------- */  
#ninja-slider4 .ns-img {
    background-color:rgba(0,0,0,0.3);
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    border-radius:3px;

    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */ 
#ninja-slider4-pause-play { display:none;}    

#ninja-slider4-prev, #ninja-slider4-next
{
    position: absolute;
    display:inline-block;
    width:42px;
    height:56px;
    line-height:56px;
    top: 50%;
    margin-top:-28px;
    background-color:rgba(0,0,0,0.4);
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:2px;
    z-index:10;
    opacity:0.3; 
    font-family:sans-serif;   
    font-size:13px;
    cursor:pointer;
    -webkit-transition:all 0.7s;
    transition:all 0.7s;
}

.slider-inner2:hover #ninja-slider4-prev, .slider-inner:hover #ninja-slider4-next {
    opacity:1;
}


#ninja-slider4-prev {
    left: 0; 
}
#ninja-slider4-next {
    right: 0;
}

/* arrows */
#ninja-slider4-prev::before, #ninja-slider4-next::before {
    position: absolute;
    top: 17px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 2px solid white;
    border-top: 2px solid white;
}

#ninja-slider4-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    backface-visibility:hidden;
    right:4px;
}

#ninja-slider4-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    backface-visibility:hidden;
    left:4px;
}


/*pagination num within the arrow buttons*/
#ninja-slider4-prev div, #ninja-slider4-next div {display:none;}


/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
#ninja-slider4-pager { display:none;}


#ninja-slider4-pager, #ninja-slider4-prev, #ninja-slider4-next, #ninja-slider4-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*Responsive settings*/
@media only screen and (max-width:800px){

    #ninja-slider4-prev, #ninja-slider4-next {
        display:none;
    }
    #ninja-slider4 .fs-icon {
        display:none;
    }
}

/* Visit http://www.menucool.com/responsive-slider for instructions */

#ninja-slider5 {
    width:100%;
    background:rgba(0,0,0,0.8);
    padding-top:30px;
    padding-bottom:10px;

    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider5.fullscreen {
    background:black;
}

#ninja-slider5.fullscreen #ninja-slider5-prev {
    left: -50px; 
}
#ninja-slider5.fullscreen #ninja-slider5-next {
    right: -50px;
}


#ninja-slider5 .fs-icon {
    top:0px;
    right:0px;
    width:45px;
    height:45px;
    background: rgba(0,0,0,0.1) url(fullscreen.png) no-repeat 0 0;
    z-index:2;
    opacity:0;
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}

#ninja-slider5:hover .fs-icon {
    opacity: 1;
}

#ninja-slider5.fullscreen .fs-icon {
    background-position: center -45px;
    opacity:1;
}

#ninja-slider5 .slider-inner {
    max-width:700px;
    margin:0 auto;/*center-aligned*/
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}

#ninja-slider5.fullscreen .slider-inner {
    max-width:900px;
    max-height:80%;
}

#ninja-slider5 ul {
    /*overflow:hidden;*/
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;
}

#ninja-slider5 li {
    background-color:#111;
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider5 li.ns-show {
    opacity:1;
}



/* --------- slider image ------- */  
#ninja-slider5 .ns-img {
    background-color:rgba(0,0,0,0.3);
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    border-radius:3px;

    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */ 
#ninja-slider5-pause-play { display:none;}    

#ninja-slider5-prev, #ninja-slider5-next
{
    position: absolute;
    display:inline-block;
    width:42px;
    height:56px;
    line-height:56px;
    top: 50%;
    margin-top:-28px;
    background-color:rgba(0,0,0,0.4);
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:2px;
    z-index:10;
    opacity:0.3; 
    font-family:sans-serif;   
    font-size:13px;
    cursor:pointer;
    -webkit-transition:all 0.7s;
    transition:all 0.7s;
}

.slider-inner:hover #ninja-slider5-prev, .slider-inner:hover #ninja-slider5-next {
    opacity:1;
}


#ninja-slider5-prev {
    left: 0; 
}
#ninja-slider5-next {
    right: 0;
}

/* arrows */
#ninja-slider5-prev::before, #ninja-slider5-next::before {
    position: absolute;
    top: 17px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 2px solid white;
    border-top: 2px solid white;
}

#ninja-slider5-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    backface-visibility:hidden;
    right:4px;
}

#ninja-slider5-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    backface-visibility:hidden;
    left:4px;
}


/*pagination num within the arrow buttons*/
#ninja-slider5-prev div, #ninja-slider5-next div {display:none;}


/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
#ninja-slider5-pager { display:none;}


#ninja-slider5-pager, #ninja-slider5-prev, #ninja-slider5-next, #ninja-slider5-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*Responsive settings*/
@media only screen and (max-width:800px){

    #ninja-slider5-prev, #ninja-slider5-next {
        display:none;
    }
    #ninja-slider5 .fs-icon {
        display:none;
    }
}

/* Visit http://www.menucool.com/responsive-slider for instructions */

#ninja-slider6 {
    width:100%;
    background:rgba(0,0,0,0.8);
    padding-top:30px;
    padding-bottom:10px;

    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider6.fullscreen {
    background:black;
}

#ninja-slider6.fullscreen #ninja-slider6-prev {
    left: -50px; 
}
#ninja-slider6.fullscreen #ninja-slider6-next {
    right: -50px;
}


#ninja-slider6 .fs-icon {
    top:0px;
    right:0px;
    width:45px;
    height:45px;
    background: rgba(0,0,0,0.1) url(fullscreen.png) no-repeat 0 0;
    z-index:2;
    opacity:0;
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}

#ninja-slider6:hover .fs-icon {
    opacity: 1;
}

#ninja-slider6.fullscreen .fs-icon {
    background-position: center -45px;
    opacity:1;
}

#ninja-slider6 .slider-inner {
    max-width:700px;
    margin:0 auto;/*center-aligned*/
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}

#ninja-slider6.fullscreen .slider-inner {
    max-width:900px;
    max-height:80%;
}

#ninja-slider6 ul {
    /*overflow:hidden;*/
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;
}

#ninja-slider6 li {
    background-color:#111;
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider6 li.ns-show {
    opacity:1;
}



/* --------- slider image ------- */  
#ninja-slider6 .ns-img {
    background-color:rgba(0,0,0,0.3);
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    border-radius:3px;

    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */ 
#ninja-slider6-pause-play { display:none;}    

#ninja-slider6-prev, #ninja-slider6-next
{
    position: absolute;
    display:inline-block;
    width:42px;
    height:56px;
    line-height:56px;
    top: 50%;
    margin-top:-28px;
    background-color:rgba(0,0,0,0.4);
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:2px;
    z-index:10;
    opacity:0.3; 
    font-family:sans-serif;   
    font-size:13px;
    cursor:pointer;
    -webkit-transition:all 0.7s;
    transition:all 0.7s;
}

.slider-inner:hover #ninja-slider6-prev, .slider-inner:hover #ninja-slider6-next {
    opacity:1;
}


#ninja-slider6-prev {
    left: 0; 
}
#ninja-slider6-next {
    right: 0;
}

/* arrows */
#ninja-slider6-prev::before, #ninja-slider6-next::before {
    position: absolute;
    top: 17px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 2px solid white;
    border-top: 2px solid white;
}

#ninja-slider6-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    backface-visibility:hidden;
    right:4px;
}

#ninja-slider6-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    backface-visibility:hidden;
    left:4px;
}


/*pagination num within the arrow buttons*/
#ninja-slider6-prev div, #ninja-slider6-next div {display:none;}


/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
#ninja-slider6-pager { display:none;}


#ninja-slider6-pager, #ninja-slider6-prev, #ninja-slider6-next, #ninja-slider6-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*Responsive settings*/
@media only screen and (max-width:800px){

    #ninja-slider6-prev, #ninja-slider6-next {
        display:none;
    }
    #ninja-slider6 .fs-icon {
        display:none;
    }
}

/* Visit http://www.menucool.com/responsive-slider for instructions */

#ninja-slider7 {
    width:100%;
    background:rgba(0,0,0,0.8);
    padding-top:30px;
    padding-bottom:10px;

    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider7.fullscreen {
    background:black;
}

#ninja-slider7.fullscreen #ninja-slider7-prev {
    left: -50px; 
}
#ninja-slider7.fullscreen #ninja-slider7-next {
    right: -50px;
}


#ninja-slider7 .fs-icon {
    top:0px;
    right:0px;
    width:45px;
    height:45px;
    background: rgba(0,0,0,0.1) url(fullscreen.png) no-repeat 0 0;
    z-index:2;
    opacity:0;
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}

#ninja-slider7:hover .fs-icon {
    opacity: 1;
}

#ninja-slider7.fullscreen .fs-icon {
    background-position: center -45px;
    opacity:1;
}

#ninja-slider7 .slider-inner {
    max-width:700px;
    margin:0 auto;/*center-aligned*/
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}

#ninja-slider7.fullscreen .slider-inner {
    max-width:900px;
    max-height:80%;
}

#ninja-slider7 ul {
    /*overflow:hidden;*/
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;
}

#ninja-slider7 li {
    background-color:#111;
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider7 li.ns-show {
    opacity:1;
}



/* --------- slider image ------- */  
#ninja-slider7 .ns-img {
    background-color:rgba(0,0,0,0.3);
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    border-radius:3px;

    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */ 
#ninja-slider7-pause-play { display:none;}    

#ninja-slider7-prev, #ninja-slider7-next
{
    position: absolute;
    display:inline-block;
    width:42px;
    height:56px;
    line-height:56px;
    top: 50%;
    margin-top:-28px;
    background-color:rgba(0,0,0,0.4);
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:2px;
    z-index:10;
    opacity:0.3; 
    font-family:sans-serif;   
    font-size:13px;
    cursor:pointer;
    -webkit-transition:all 0.7s;
    transition:all 0.7s;
}

.slider-inner:hover #ninja-slider7-prev, .slider-inner:hover #ninja-slider7-next {
    opacity:1;
}


#ninja-slider7-prev {
    left: 0; 
}
#ninja-slider7-next {
    right: 0;
}

/* arrows */
#ninja-slider7-prev::before, #ninja-slider7-next::before {
    position: absolute;
    top: 17px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 2px solid white;
    border-top: 2px solid white;
}

#ninja-slider7-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    backface-visibility:hidden;
    right:4px;
}

#ninja-slider7-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    backface-visibility:hidden;
    left:4px;
}


/*pagination num within the arrow buttons*/
#ninja-slider7-prev div, #ninja-slider7-next div {display:none;}


/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
#ninja-slider7-pager { display:none;}


#ninja-slider7-pager, #ninja-slider7-prev, #ninja-slider7-next, #ninja-slider7-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*Responsive settings*/
@media only screen and (max-width:800px){

    #ninja-slider7-prev, #ninja-slider7-next {
        display:none;
    }
    #ninja-slider7 .fs-icon {
        display:none;
    }
}

/* Visit http://www.menucool.com/responsive-slider for instructions */

#ninja-slider8 {
    width:100%;
    background:rgba(0,0,0,0.8);
    padding-top:30px;
    padding-bottom:10px;

    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider8.fullscreen {
    background:black;
}

#ninja-slider8.fullscreen #ninja-slider8-prev {
    left: -50px; 
}
#ninja-slider8.fullscreen #ninja-slider8-next {
    right: -50px;
}


#ninja-slider8 .fs-icon {
    top:0px;
    right:0px;
    width:45px;
    height:45px;
    background: rgba(0,0,0,0.1) url(fullscreen.png) no-repeat 0 0;
    z-index:2;
    opacity:0;
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}

#ninja-slider8:hover .fs-icon {
    opacity: 1;
}

#ninja-slider8.fullscreen .fs-icon {
    background-position: center -45px;
    opacity:1;
}

#ninja-slider8 .slider-inner {
    max-width:700px;
    margin:0 auto;/*center-aligned*/
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}

#ninja-slider8.fullscreen .slider-inner {
    max-width:900px;
    max-height:80%;
}

#ninja-slider8 ul {
    /*overflow:hidden;*/
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;
}

#ninja-slider8 li {
    background-color:#111;
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider8 li.ns-show {
    opacity:1;
}



/* --------- slider image ------- */  
#ninja-slider8 .ns-img {
    background-color:rgba(0,0,0,0.3);
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    border-radius:3px;

    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */ 
#ninja-slider8-pause-play { display:none;}    

#ninja-slider8-prev, #ninja-slider8-next
{
    position: absolute;
    display:inline-block;
    width:42px;
    height:56px;
    line-height:56px;
    top: 50%;
    margin-top:-28px;
    background-color:rgba(0,0,0,0.4);
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:2px;
    z-index:10;
    opacity:0.3; 
    font-family:sans-serif;   
    font-size:13px;
    cursor:pointer;
    -webkit-transition:all 0.7s;
    transition:all 0.7s;
}

.slider-inner:hover #ninja-slider8-prev, .slider-inner:hover #ninja-slider8-next {
    opacity:1;
}


#ninja-slider8-prev {
    left: 0; 
}
#ninja-slider8-next {
    right: 0;
}

/* arrows */
#ninja-slider8-prev::before, #ninja-slider8-next::before {
    position: absolute;
    top: 17px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 2px solid white;
    border-top: 2px solid white;
}

#ninja-slider8-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    backface-visibility:hidden;
    right:4px;
}

#ninja-slider8-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    backface-visibility:hidden;
    left:4px;
}


/*pagination num within the arrow buttons*/
#ninja-slider8-prev div, #ninja-slider8-next div {display:none;}


/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
#ninja-slider8-pager { display:none;}


#ninja-slider8-pager, #ninja-slider8-prev, #ninja-slider8-next, #ninja-slider8-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*Responsive settings*/
@media only screen and (max-width:800px){

    #ninja-slider8-prev, #ninja-slider8-next {
        display:none;
    }
    #ninja-slider8 .fs-icon {
        display:none;
    }
}

/* Visit http://www.menucool.com/responsive-slider for instructions */

#ninja-slider9 {
    width:100%;
    background:rgba(0,0,0,0.8);
    padding-top:30px;
    padding-bottom:10px;

    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider9.fullscreen {
    background:black;
}

#ninja-slider9.fullscreen #ninja-slider9-prev {
    left: -50px; 
}
#ninja-slider9.fullscreen #ninja-slider9-next {
    right: -50px;
}


#ninja-slider9 .fs-icon {
    top:0px;
    right:0px;
    width:45px;
    height:45px;
    background: rgba(0,0,0,0.1) url(fullscreen.png) no-repeat 0 0;
    z-index:2;
    opacity:0;
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}

#ninja-slider9:hover .fs-icon {
    opacity: 1;
}

#ninja-slider9.fullscreen .fs-icon {
    background-position: center -45px;
    opacity:1;
}

#ninja-slider9 .slider-inner {
    max-width:700px;
    margin:0 auto;/*center-aligned*/
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}

#ninja-slider9.fullscreen .slider-inner {
    max-width:900px;
    max-height:80%;
}

#ninja-slider9 ul {
    /*overflow:hidden;*/
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;
}

#ninja-slider9 li {
    background-color:#111;
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider9 li.ns-show {
    opacity:1;
}



/* --------- slider image ------- */  
#ninja-slider9 .ns-img {
    background-color:rgba(0,0,0,0.3);
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    border-radius:3px;

    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */ 
#ninja-slider9-pause-play { display:none;}    

#ninja-slider9-prev, #ninja-slider9-next
{
    position: absolute;
    display:inline-block;
    width:42px;
    height:56px;
    line-height:56px;
    top: 50%;
    margin-top:-28px;
    background-color:rgba(0,0,0,0.4);
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:2px;
    z-index:10;
    opacity:0.3; 
    font-family:sans-serif;   
    font-size:13px;
    cursor:pointer;
    -webkit-transition:all 0.7s;
    transition:all 0.7s;
}

.slider-inner:hover #ninja-slider9-prev, .slider-inner:hover #ninja-slider9-next {
    opacity:1;
}


#ninja-slider9-prev {
    left: 0; 
}
#ninja-slider9-next {
    right: 0;
}

/* arrows */
#ninja-slider9-prev::before, #ninja-slider9-next::before {
    position: absolute;
    top: 17px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 2px solid white;
    border-top: 2px solid white;
}

#ninja-slider9-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    backface-visibility:hidden;
    right:4px;
}

#ninja-slider9-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    backface-visibility:hidden;
    left:4px;
}


/*pagination num within the arrow buttons*/
#ninja-slider9-prev div, #ninja-slider9-next div {display:none;}


/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
#ninja-slider9-pager { display:none;}


#ninja-slider9-pager, #ninja-slider9-prev, #ninja-slider9-next, #ninja-slider9-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*Responsive settings*/
@media only screen and (max-width:800px){

    #ninja-slider9-prev, #ninja-slider9-next {
        display:none;
    }
    #ninja-slider9 .fs-icon {
        display:none;
    }
}

/* Visit http://www.menucool.com/responsive-slider for instructions */

#ninja-slider10 {
    width:100%;
    background:rgba(0,0,0,0.8);
    padding-top:30px;
    padding-bottom:10px;

    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider10.fullscreen {
    background:black;
}

#ninja-slider10.fullscreen #ninja-slider10-prev {
    left: -50px; 
}
#ninja-slider10.fullscreen #ninja-slider10-next {
    right: -50px;
}


#ninja-slider10 .fs-icon {
    top:0px;
    right:0px;
    width:45px;
    height:45px;
    background: rgba(0,0,0,0.1) url(fullscreen.png) no-repeat 0 0;
    z-index:2;
    opacity:0;
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}

#ninja-slider10:hover .fs-icon {
    opacity: 1;
}

#ninja-slider10.fullscreen .fs-icon {
    background-position: center -45px;
    opacity:1;
}

#ninja-slider10 .slider-inner {
    max-width:700px;
    margin:0 auto;/*center-aligned*/
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}

#ninja-slider10.fullscreen .slider-inner {
    max-width:900px;
    max-height:80%;
}

#ninja-slider10 ul {
    /*overflow:hidden;*/
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;
}

#ninja-slider10 li {
    background-color:#111;
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider10 li.ns-show {
    opacity:1;
}



/* --------- slider image ------- */  
#ninja-slider10 .ns-img {
    background-color:rgba(0,0,0,0.3);
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    border-radius:3px;

    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */ 
#ninja-slider10-pause-play { display:none;}    

#ninja-slider10-prev, #ninja-slider10-next
{
    position: absolute;
    display:inline-block;
    width:42px;
    height:56px;
    line-height:56px;
    top: 50%;
    margin-top:-28px;
    background-color:rgba(0,0,0,0.4);
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:2px;
    z-index:10;
    opacity:0.3; 
    font-family:sans-serif;   
    font-size:13px;
    cursor:pointer;
    -webkit-transition:all 0.7s;
    transition:all 0.7s;
}

.slider-inner:hover #ninja-slider10-prev, .slider-inner:hover #ninja-slider10-next {
    opacity:1;
}


#ninja-slider10-prev {
    left: 0; 
}
#ninja-slider10-next {
    right: 0;
}

/* arrows */
#ninja-slider10-prev::before, #ninja-slider10-next::before {
    position: absolute;
    top: 17px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 2px solid white;
    border-top: 2px solid white;
}

#ninja-slider10-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    backface-visibility:hidden;
    right:4px;
}

#ninja-slider10-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    backface-visibility:hidden;
    left:4px;
}


/*pagination num within the arrow buttons*/
#ninja-slider10-prev div, #ninja-slider10-next div {display:none;}


/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
#ninja-slider10-pager { display:none;}


#ninja-slider10-pager, #ninja-slider10-prev, #ninja-slider10-next, #ninja-slider10-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*Responsive settings*/
@media only screen and (max-width:800px){

    #ninja-slider10-prev, #ninja-slider10-next {
        display:none;
    }
    #ninja-slider10 .fs-icon {
        display:none;
    }
}
